//
// ==================================================
// ––––––––––––––––––––––––––––––––––––––––––––––––––
// C O L O R S
// ––––––––––––––––––––––––––––––––––––––––––––––––––
// ==================================================
//

$dark: #000;
$light: #F7F7F5;
$color1: #D1CCC7;
$color2: #D6D7D1;
$color3: #BCBCBC;
$color4:#90968B;


//
// ==================================================
// ––––––––––––––––––––––––––––––––––––––––––––––––––
// L A Y O U T
// ––––––––––––––––––––––––––––––––––––––––––––––––––
// ==================================================
//

$max-width: 1490px;