//
// ==================================================
// ––––––––––––––––––––––––––––––––––––––––––––––––––
// S T O R Y
// ––––––––––––––––––––––––––––––––––––––––––––––––––
// ==================================================
//

@import '../_variables';

.story{
   text-align: center;
   padding-top: 162px;
   padding-bottom: 467px;

   p{
      max-width: 1150px;
      margin-left: auto;
      margin-right: auto;
      font-size: 48px;
      line-height: 57px;
      margin-bottom: 90px;
   } // p

   .link{
      padding-bottom: 18px;
      position: relative;
      font-size: 19.29px;

      &::after{
         content: '';
         display: block;
         width: 98%;
         height: 2px;
         background: $dark;
         position: absolute;
         bottom: 0;
         left: 50%;
         transform: translateX(-50%);
      }

   } // .link
   
} // .story